<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzeria - Dettaglio Pizza</title>
    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" />
</head>

<body>
    <div th:replace="~{ fragments/navbar :: navbar }"></div>

    <main>
        <div class="container mt-5" th:object="${pizza}">
            <div class="row">
                <div class="col d-flex justify-content-start">
                    <img th:src="*{img}" class="h-50">
                    <div class="ms-3">
                        <h3 th:text="'Dettaglio ' + *{name}"></h3>
                        <h5 th:text="${pizza.toString()}"></h5>
                        <h5>Ingredienti</h5>
                        <ul>
                            <li th:each="ingredient : ${pizza.ingredients}" th:text="${ingredient.name}"></li>
                        </ul>
                        <hr>
                        <h3>Offerte disponibili</h3>
                        <div th:unless="${pizza.offers.size() > 0}" class="bg-warning-subtle p-3">Non sono disponibili
                            offerte per questa pizza</div>
                        <div th:if="${pizza.offers.size() > 0}" th:object="${pizza.offers}">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nome offerta</th>
                                        <th>Data inizio</th>
                                        <th>Data Scadenza</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="offer : ${pizza.offers}">
                                        <td th:text="${offer.title}"></td>
                                        <td th:text="${offer.startDate}"></td>
                                        <td th:text="${offer.endDate}"></td>
                                        <td><a th:href="@{'/offers/edit/' + ${offer.id}}"><button class="btn btn-warning btn-sm">Modifica</button></a></td>
                                        <td><a th:href="@{'/offers/delete/' + ${offer.id}}"><button class="btn btn-danger btn-sm">Elimina</button></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <a th:href="@{'/pizzas/' + ${pizza.id} + '/add-offer'}">
                            <button class="btn btn-primary mt-3 btn-sm" type="button">Aggiungi un'offerta</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>